<%content_for(:title ) do %>
  <%= current_user.name %> さんのマイページ 
<% end %>

<h2><%=current_user.name%>さんのマイページ</h2>
<div class="container">
  <div class="span12">
    <div class="span6">
      <strong>ユーザー情報</strong><br />
      ユーザー名:<%=current_user.name %> <br />

      メールアドレス:<%=current_user.email %><br />

      SkypeID:<%=current_user.skype_id %><br />

      <%=link_to "ユーザー名の編集", edit_path, :class => "btn" %>
    </div>
    <div class="span6">
      <strong>アポ待ち日登録</strong><br />

      <% if current_user %>
        <%= render 'event_form' %>
      <% end %>
        </div>
        <p id="notice"><%= notice %></p>
      </div>
      イベントイベントイベントイベント<br />
      <%=link_to "イベントを登録", edit_cal_path, :class => "btn" %>
    </div>
  </div>
  <div class="span12">
    おおおおおお
  </div>
</div>
