
<%= form_tag("register/record") do %>
	<%= field_set_tag "ユーザー・メールアドレス編集" do %>
		<label>名前</label>
		<%= text_field_tag("name", nil, :placeholder => current_user.name) %>
		<label>メールアドレス</label>
		<%= email_field_tag("email", nil, :placeholder => current_user.email) %>
		<label>Skype ID</label>
                <% if current_user.skype_id.empty? %>
		<%= text_field_tag("skype_id", nil, :placeholder => "WRITE HERE YOUR SKYPE ID") %>
              <% else %>
		<%= text_field_tag("skype_id", nil, :placeholder => current_user.skype_id) %>
              <% end %>
	<% end %>
	<%= submit_tag("登録", :class => "btn btn-success")%>

<% end %>
