
<%= form_tag("register/record") do %>
	<%= field_set_tag "ユーザー・メールアドレス編集" do %>
		<label>名前</label>
		<%= text_field_tag("name", nil, :placeholder => current_user.name) %>
		<label>メールアドレス</label>
		<%= email_field_tag("email", nil, :placeholder => current_user.email) %>
	<% end %>
	<%= submit_tag("登録", :class => "btn btn-success")%>

<% end %>
